@model AspNetCore.Models.Member
@{
    ViewData["Title"] = "Create";
}

<div class="modal-dialog-centered" style="width:605px">
    <div class="modal-content">
        <div class="modal-header">
            <h4>@ViewData["Title"]</h4><h4>@ViewData["omw"]</h4><button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="x" class="control-label"></label>
                    <input asp-for="x" class="form-control" />
                    <span asp-validation-for="x" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="y" class="control-label"></label>
                    <input asp-for="y" class="form-control" />
                    <span asp-validation-for="y" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="case_code" class="control-label"></label>
                    <input asp-for="case_code" class="form-control" />
                    <span asp-validation-for="case_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="municipality_code" class="control-label"></label>
                    <input asp-for="municipality_code" class="form-control" value="01" />
                    <span asp-validation-for="municipality_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="municipality_name" class="control-label"></label>
                    <input asp-for="municipality_name" class="form-control" value="Anykščiai" />
                    <span asp-validation-for="municipality_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="age_bracket" class="control-label"></label>
                    <input asp-for="age_bracket" class="form-control" value="01-01" />
                    <span asp-validation-for="age_bracket" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="gender" class="control-label"></label>
                    <input asp-for="gender" class="form-control" value="Vyras" />
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
