@{
    ViewData["Title"] = "Confirm Database Download";
}

<div class="modal-dialog-centered" style="width:605px">
    <div class="modal-content">
        <div class="modal-header">
            <h4>@ViewData["Title"]</h4><button class="close" data-dismiss="modal" area-hidden="true">X</button>
        </div>
        <div class="modal-body">
            <form asp-action="DatabaseDownload" asp-route-confirm="download">
                <input type="submit" value="Download Database" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>